*{
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
body{
    background-image: linear-gradient(90deg, #3A0CA3 0%, #B5179E 100%);
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(90deg, #3A0CA3 0%, #B5179E 100%);
    transition: 1s;
}
main img{
    width: 700px;
    position: absolute;
    z-index: 0;
    animation: imageZoomAndRotate 8s infinite;
}
@keyframes imageZoomAndRotate{
    0%{
        width: 700px;
    }
    20%{
        width: 527px;
    }
    50%{
        width: 527px;
        transform: rotate(0deg);
    }
    80%{
        width: 300px;
        transform: rotate(360deg);
    }
}
main h1{
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 40px;
    transform: translateY(-100px);
    opacity: 0;
    animation: fallFromTopToBottom 2s forwards;
}
@keyframes fallFromTopToBottom {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
main button{
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 25px;
    z-index: 1;
    background-color: #F72585;
    transition: 0.5s;
    border: none;
    animation: zoomIn 3s infinite;
}
@keyframes zoomIn {
    0%{
        scale: 150%;
    }
    40%{
        scale: 100%;
    }
    100%{
        scale: 150%;
    }
}
main button:hover{
    background-color: #4CC9F0;
    border-top-right-radius: 0px;
    cursor: pointer;
}
main h3{
    width: 100%;
    text-align: center;
    z-index: 1;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
    animation: fallFromBottomToTop 1s forwards;
    font-family: 'Courier New', Courier, monospace;
}
@keyframes fallFromBottomToTop {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
nav{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #3A0CA3 0%, #B5179E 100%);
    z-index: 2;
    transition: 1s;
}
nav h2{
    text-align: center;
    font-size: 35px;
    width: 100%;
    padding: 40px 0px;
    animation: fallFromTopToBottom 1s forwards;
}
nav ol{
    height: calc(100% - 230px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
nav ol li{
    font-size: 25px;
    text-align: center;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    cursor: pointer;
}
nav ol li:nth-of-type(odd){
    animation: fallFromLeftToRight 1s forwards;
}
@keyframes fallFromLeftToRight{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
nav ol li:nth-of-type(even){
    animation: fallFromRightToLeft 1s forwards;
}
@keyframes fallFromRightToLeft{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
section{
    width: 100vw;
    height: 100vh;
    transition: 1s;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
section div{
    width: 50%;
    transition: 1s;
}
#left{
    padding: 20px 0px 20px 20px;
}
header{
    width: 100%;
    text-align: center;
}
header button{
    padding: 10px 20px;
    margin: 0px 5px;
    font-size: 20px;
    border-radius: 25px;
    z-index: 1;
    background-color: #F72585;
    transition: 0.5s;
    border: none;
}
header button:hover{
    background-color: #4CC9F0;
    border-top-right-radius: 0px;
    cursor: pointer;
}
#left h2{
    margin: 40px 0px 20px 0px;
    width: 100%;
    text-align: center;
    font-size: 25px;
}
#left div{
    width: 100%;
    text-align: center;
}
#left div button{
    padding: 8px 15px;
    margin: 0px 5px;
    font-size: 18px;
    z-index: 1;
    background-color: #4CC9F0;
    transition: 0.5s;
    border: none;
    border-bottom-right-radius: 25px;
}
#left div button:hover{
    background-color: #F72585;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}
#left span{
    padding: 20px 0px;
    font-size: 22px;
    animation: fallFromBottomToTop 1s forwards;
    line-height: 28px;
}
#left span li{
    margin-bottom: 10px;
    list-style-type: disc;
}
#right{
    padding: 20px;
}
section div img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: auto;
    display: block;
    transition: 0.5s;
}
footer{
    position: absolute;
    width: 500px;
    height: 250px;
    top: calc(50vh - 125px);
    left: calc(50vw - 250px);
    z-index: 3;
    background-image: linear-gradient(90deg, #3A0CA3 0%, #B5179E 100%);
    border-radius: 25px;
    padding: 20px;
    transition: 1s;
    animation: fallFromTopToBottom 1s forwards;
}
@keyframes fallOutFromTopToBottom{
    0%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        transform: translateY(-100px);
    }
}
footer h2{
    text-align: center;
    margin: 10px 0px;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h4{
    width: 300px;
    font-weight: 500;
}
footer img{
    width: 200px;
}
footer button{
    padding: 8px 15px;
    margin: 0px auto;
    display: block;
    width: fit-content;
    font-size: 18px;
    z-index: 1;
    background-color: #4CC9F0;
    transition: 0.5s;
    border: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
footer button:hover{
    background-color: #F72585;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
}